/*@import "tooltip.css";*/

* {
	text-align: center;
    /*white-space: nowrap;*/
}

body {
	font-family: Arial;		
	background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*
------- Estilo CEBRA - Zebra Striping
------- que lo implemento con JavaScript xq cuando filtramos
------- por busqueda se rompre el zebra
tbody tr:nth-child(even) {
   background-color: rgba(0,200,0,0.5);
}
*/

h1,h2 {
	font-family: Impact;
	color: darkgreen;
	padding: 0px 0px 0px 0px;
	margin: 0.1em 0px 0.1em 0px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

input {
	color: white;
	font-size: 3em;
	background: black;
    outline:0px;
	width: 90%;
	margin-top: 0.3em;	
	margin-bottom: 0.1em;
    border-radius: 0.8em 0.8em 0.8em 0.8em;
}

button {
	font-size: 1em;
	font-weight: bold;
}

table {
	width:90%;
    margin-left:5%; 
    margin-right:5%;
    border-collapse: separate;
    border-spacing: 1px 3px;
}

table, th {
	color: white;
}

th {
	border-radius: 0.5em 0.5em 0em 0em;
	color: #EF3A38;
	font-size: 2em;
	padding: 0.1em 0.1em 0.1em 0.1em;
	text-shadow: 3px 3px 1px #000000;
	background: #660000;
}

tr {
	height: 1.5em;
    background: rgba(0,150,0,0.5);
    border-radius: 0.8em 0.8em 0.8em 0.8em;
}

td {
    border-radius: 0.8em 0.8em 0.8em 0.8em;
}

/* td {
	background: rgba(0,150,0,0.5);
}*/

.cINT {
	font-family: Verdana;
	font-weight: bold;
	font-size: 2em;
	text-shadow: 2px 2px #000000;
}

.row-cebra {
    background-color: rgba(0,100,0,0.5);
}

.rowMostrar {
    transition: 0s;
}

.rowOcultar {
    font-size: 0em;
	display: none;
}

.rowOFI {
    padding-left: 2%;
    padding-right: 1%;
    text-align: left;
}